*{ /* Global Settings. */
	margin: 0px;
	padding: 0px;
}

:root{ /* Palletes. */
	--color00: #8A9DAF;
	--color01: #687B8E;
	--color02: #475E74;
	--color03: #31475C;
	--color04: #1E364C;
	--color05: #0E2338;
}

body{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: var(--color02);
}

header{
	background-color: var(--color03);
	color: var(--color00);
	padding: 20px;
	text-align: center;
	text-shadow: 2px 2px 1px var(--color04);
	box-shadow: 2px 2px 2px var(--color04);
}

main{
	background-color: var(--color01);
	max-width: 550px;
	margin: auto;
	padding: 15px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 2px var(--color03);
}

.code{ /* Morce Code Configuration. */
	font-weight: bolder;
}

caption{
	font-size: 1.5em;
	background-color: var(--color03);
	color: var(--color00);
	font-weight: bold;
	padding: 5px;
	border-radius: 8px 8px 0px 0px;
	text-shadow: 1px 2px 2px var(--color05);
}

table{
	border-collapse: collapse;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

td, th{
	border: 3px solid #181818;
	padding: 5px;
	height: 30px;
	width: 35px;
	text-align: center;
	background-color: var(--color04);
	color: var(--color01);
	text-shadow: 1px 1px 1px var(--color05);
}

td:hover{
	animation-name: blup; /* Call of "blup" animation. */
	animation-duration: 2s;
}

@keyframes blup{ /* "blup" animation settings. */
	5%{
		background-color: var(--color01);
		padding: 8px;
		color: white;
	}
	
	10%{
		padding: 5px;
	}
}

footer{
	background-color: var(--color03);
	padding: 10px;
	margin: 20px 0px 20px 0px;
	color: var(--color00);
	text-align: center;
	text-shadow: 1px 1px 1px var(--color04);
	box-shadow: 0px 2px 2px var(--color04);
}

footer a{
	color: var(--color00);
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}